.App {
  margin: 30px auto;
  width: 1000px;
  min-height: 90vh;
  // border: 1px solid #eee;
  border-radius: 5px;
  // background: linear-gradient(#525252, #3d72b4);
  background-color: var(--background-color);
  transition: all 0.3s ease;
  box-shadow: 2px 8px 10px rgba(0, 0, 0, 0.12);
}
.title {
  font-size: 60px;
  letter-spacing: 5px;
  text-align: center;
  font-weight: lighter;
  user-select: none;
  color: #fff;
}
.todoListWrapper {
  width: 700px;
  margin: 20px auto;
  // user-select: none;
  .inputWrapper {
    display: flex;
    justify-content: space-between;
    .todoInput {
      display: block;
      margin-right: 10px;
      padding-left: 10px;
      width: 90%;
      line-height: 32px;
      border: 1px solid #f1f1f1;
      border-radius: 5px;
      box-shadow: inset 1px 1px 1px rgba(0, 0, 0, 0.5);
      transition: all 0.3s ease;
      &:hover,
      &:focus,
      &:focus-visible {
        border: 1px solid rgb(149, 206, 227);
      }
    }
    .btn {
      display: block;
      width: 60px;
      border-radius: 25px;
      border: 0 none;
      color: #fff;
      cursor: pointer;
      transition: all 0.5s ease;
      background-color: #7996a5;
      &:hover {
        transform: scale(1.2, 1.2);
        // color: #8a9ca5;
      }
      &:active {
        background-color: #8a9ca5;
      }
    }
  }
  .todoLists {
    margin-top: 20px;
    .item {
      position: relative;
      display: flex;
      align-items: center;
      margin-bottom: 10px;
      border-radius: 10px;
      padding-left: 10px;
      transition: all 0.2s ease;
      width: 700px;
      z-index: 0;
      &:hover {
        color: #fff;
        background-color: #7996a5;
        .optBox {
          .checkBtn {
            visibility: visible;
          }
        }
      }
      .thing {
        width: 600px;
        padding: 5px 0;
        margin-left: 10px;
        z-index: 1;
        word-break: break-all;
        transition: all 0.1s ease;
        &.isChecked {
          text-decoration: line-through;
        }
      }
      .optBox {
        position: absolute;
        right: 0;
        top: 0;
        width: 90px;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        z-index: 2;
        .delBtn {
          width: 30px;
          height: 30px;
          line-height: 26px;
          font-size: 20px;
          text-align: center;
          background-color: #7996a5;
          color: #fff;
          border-radius: 30px;
          cursor: pointer;
          transition: all ease 0.3s;
          &:hover {
            color: var(--error-color);
            transform: rotate(-180deg);
          }
        }
        .checkBtn {
          visibility: hidden;
          margin: 0 10px;
          font-size: 15px;
          color: #fff;
          cursor: pointer;
          &:hover {
            color: #52c41a;
          }
        }
      }
    }
  }
  /* :global {
    .switchItem {

    }
  } */
}
