.App {
  margin: 20px auto;
  padding: 30px 0;
  width: 1000px;
  min-height: 100vh;
  border-radius: 5px;
  background: rgba(0, 0, 0, 0.15);
  backdrop-filter: blur(10px);
  transition: all 0.3s ease;
  box-shadow: 2px 8px 10px rgba(0, 0, 0, 0.12);
}
.title {
  font-size: 60px;
  letter-spacing: 5px;
  text-align: center;
  font-weight: lighter;
  user-select: none;
  color: #fff;
}
.todoListWrapper {
  width: 700px;
  margin: 20px auto;
  .inputWrapper {
    display: flex;
    justify-content: space-between;
    .todoInput {
      display: block;
      margin-right: 10px;
      padding: 0 10px;
      width: 90%;
      line-height: 32px;
      border: 1px solid #f1f1f1;
      border-radius: 5px;
      color: #fff;
      box-shadow: inset 1px 1px 1px rgba(0, 0, 0, 0.5);
      transition: all 0.3s ease;
      background: transparent;
      &::placeholder {
        color: #fff;
      }
      /* &:hover,
      &:focus,
      &:focus-visible {
        border: 1px solid rgb(149, 206, 227);
      } */
    }
    .btn {
      display: block;
      width: 26px;
      font-size: 20px;
      color: #fff;
      transition: all 0.5s ease;
      cursor: pointer;
      /* width: 60px;
      border-radius: 10px;
      border: 0 none;
      color: #fff;
      background-color: rgba(0, 0, 0, 0.15); */
      &:hover {
        transform: scale(1.5, 1.5);
        // color: #8a9ca5;
      }
      &:active {
        background-color: rgba(0, 0, 0, 0.55);
      }
    }
  }
  .todoLists {
    margin-top: 20px;
    color: #fff;
    .item {
      .itemBox {
        position: relative;
        display: flex;
        align-items: center;
        margin-bottom: 10px;
        border-radius: 10px;
        padding-left: 10px;
        transition: all 0.3s ease;
        border: 1px solid transparent;
        width: 700px;
        z-index: 0;
      }
      .date {
        margin: 0;
        font-size: 16px;
        color: #fff;
        font-weight: bold;
      }
      &:hover {
        color: #fff;
        animation: bounding 1.5s linear infinite;
        .optBox {
          .checkBtn {
            visibility: visible;
          }
        }
      }
      .thing {
        width: 600px;
        padding: 5px 0;
        margin-left: 10px;
        z-index: 1;
        word-break: break-all;
        transition: all 0.1s ease;
        &.isChecked {
          text-decoration: line-through;
        }
      }
      .optBox {
        position: absolute;
        right: 5px;
        top: 0;
        width: 90px;
        min-height: 30px;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        z-index: 2;
        .delBtn {
          width: 20px;
          height: 20px;
          line-height: 16px;
          font-size: 20px;
          text-align: center;
          background-color: rgba(255, 255, 255, 0.2);
          color: #fff;
          border-radius: 10px;
          cursor: pointer;
          transition: all ease 0.3s;
          &:hover {
            color: var(--error-color);
            transform: rotate(-180deg);
          }
        }
        .checkBtn {
          visibility: hidden;
          margin: 0 10px;
          font-size: 15px;
          color: #fff;
          cursor: pointer;
          &:hover {
            color: #52c41a;
          }
        }
      }
    }
  }
  /* :global {
    .switchItem {

    }
  } */
}

@keyframes bounding {
  0% {
    border-color: #fff;
  }
  50% {
    border-color: rgba(255, 255, 255, 0.15);
  }
  100% {
    border-color: #fff;
  }
}
