html {
  height: 100vh;
  // background: linear-gradient(#f0f2f0, #000c40);
  iframe {
    position: unset !important;
  }
}
:global {
  input {
    &:focus {
      outline: none;
    }
  }
}
#root {
  display: flex;
  align-items: center;
  height: 100%;
  // min-height: 100vh;
  background: repeating-linear-gradient(
    45deg, #1CB5E0,#2980b9 20px, #000046 0, #2c3e50 300px
  );
  /* background: repeating-linear-gradient(
    45deg, #2980b9, #2c3e50
  ); */
 /*  background: repeating-linear-gradient(
    45deg, #2C3E50, #4CA1AF
  ); */
  // background: url('./images/Landscape-585.jpg') no-repeat 50%;
  // background-size: cover;
}
:root {
  --error-color: #ff4d4f;
  --primary-color: #336699;
  --background-color: #fff;
  --border-color: #99cccc;
}