html {
  height: 100%;
  // background: linear-gradient(#f0f2f0, #000c40);
}

:root {
  --error-color: #ff4d4f;
  --primary-color: #336699;
  --background-color: #fff;
  --border-color: #99cccc;
}